header {
    background: url(https://media.istockphoto.com/id/1369396302/es/foto/manitas-ajustando-la-ventana-de-pl%C3%A1stico-de-pvc-blanco-en-interiores-trabajador-que-usa.jpg?s=2048x2048&w=is&k=20&c=SUjzWIwqQw6CXwZCRiPu96Zd0HA-a1BLWZG8BiY2tRs=);
}

h1, p {
    color: #000;
}