/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;  
  background-color: #d8e1e9;
}

body {
  background-color: #e8eff6 0.1;
}


.navbar {
  background-color: #7392b7; /* Reemplaza con el color que desees */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.dropdown-menu {
  padding: 0; /* Elimina el padding en todas las direcciones */
  border: 3px solid #759eb8;
}

.dropdown-menu .dropdown-item {
  background-color: #7392b7;
}

.dropdown-item:hover {
  background-color: #c5d5ea; /* Cambia #2980b9 al color deseado al pasar el ratón sobre un elemento */
  color: #fff; /* Cambia #ffffff al color deseado para el texto cuando el ratón está sobre el elemento */
}

.btn-outline-custom {
  color: #ffffff; /* Cambia #ffffff al color deseado para el texto */
  background-color: #4CAF50; /* Cambia #4CAF50 al color deseado para el fondo */
  border-color: #4CAF50; /* Cambia #4CAF50 al color deseado para el borde */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.Footer {
padding: 2rem 0;
margin-top: 15rem;
background: #b3c5d7;
font-family: 'Helvetica Neue', Arial, sans-serif;
}

.ft-1 h3 {
font-weight: 700;
font-family: cursive;
letter-spacing: 2px;
padding: 0.5rem 0;
}

.ft-1 span {
color: #7392b7;
}

.ft-1 p {
padding: 0rem 5rem 0.8rem 0;
font-weight: 500;
}

.footer-icons i {
padding: 0.4rem 0.5rem;
background: #fff;
color: #7392b7;
margin: 0 0.5rem;
border-radius: 50%;
}

.footer-icons i:hover {
background: #7392b7;
color: #fff;
transition: 0.6s;
cursor: pointer;
}

.Footer h5 {
color: #7392b7;
}

.ft-2 ul {
list-style: none;
padding-left: 0;
}

.ft-2 ul li {
padding: 0.35rem 0;
font-weight: 500;
}

.ft-2 ul a {
text-decoration: none;
color: #000;
font-size: 1.06rem;
}

.ft-3 p {
font-weight: 500;
padding: 0.1rem 0;
font-size: 1.06rem;
}

.ft-3 i {
padding-right: 0.5rem;
}

.Last-footer {
background: #7392b7;
text-align: center;
padding: 1rem 0;
}

.Last-footer p {
margin-bottom: 0;
font-size: 1.2rem;
font-weight: 700;
}

.ng-valid:not(form).ng--touched {
border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
border-left: 5px solid #a94442;
}