<div class="Footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-5 col-12 ft-1">
              <h3><span>ALUMINIOS</span>CARDENAS</h3>
              <p>Aluminio que transforma, ornamentación que perdura.</p>
              <div class="footer-icons">
                  <i  href="/facebook" class="fa-brands fa-facebook"></i>
                  <i  href="/twitter" class="fa-brands fa-twitter"></i>
                  <i  href="/instagram" class="fa-brands fa-instagram"></i>
                  <i  href="/Linkedin" class="fa-brands fa-linkedin-in"></i>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 col-12 ft-2">
              <h5>Quick as</h5>
              <ul>
                  <li class="nav-item">
                      <a class="" href="/">Nuestros Productos</a>
                  </li>
                  <li class="nav-item">
                      <a class="" href="/">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                      <a class="" href="/nosotros/mision">Misión</a>
                  </li>
                  <li class="nav-item">
                      <a class="" href="/">Visión</a>
                  </li>
                  <li class="nav-item">
                      <a class="" href="/">Contactenos</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6 col-lg-4 col-12 ft-3">
              <h5>Contáctenos</h5>
              <p><i class="fa-solid fa-phone-volume"></i> +57 313217xxxx</p>
              <p><i class="fa-solid fa-envelope"></i> aluminioscardenasxxx&#64;gmail.com</p>
              <p><i class="fa-solid fa-paper-plane"></i> Mosquera, Colombia.</p>
          </div>
      </div>
  </div>
</div>
<div class='Last-footer'>
  <p>Design By Cristian Cardenas</p>
</div>

